.header {
  position: sticky;
  top: 0px;
  z-index: 1000;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
}

.image {
  height: 50px;
  margin-right: 10px;
}
