.dropdown-btn {
  margin-left: 20px;
}

.order-list-view {
  padding: 20px 0;
}

.image {
  height: 100px;
  background-size: cover;
  background-position: center;
}

.order-list-wrapper {
  margin-top: 60px;
  margin-bottom: 20px;
}
